@CHARSET "UTF-8";

html 
{
  position: relative;
  min-height: 100%;
  max-width: 100%;
}

body > .container
{
  padding: 100px 15px 0;
}

p
{
    text-align: justify;
}

.p-indent
{
    text-indent: 40px;
}

.p-indentMore
{
  text-indent: 80px;
}

.p-figure
{
  font-weight: bold;
  text-align: center;
}

.p-equation
{
    padding-top: 20px;
    padding-bottom: 20px;
	text-align: center;
}

.footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10px;
}

.footer > .container
{
  padding-right: 15px;
  padding-left: 15px;
}

.container .text-muted {
  margin: 20px 0;
}

.top-container {
  padding-top: 50px;
}

.figure {
	padding: 10px;
	text-align: center;
}
#figure_1_1 {
	height: 146px;
	width: 603px;
}

#figure_1_2 {
	height: 124px;
	width: 618px;
}
#figure_1_3 {
	height: 115px;
	width: 662px;
}
#figure_3_1{
	height: auto;
	width: auto;
}

